# .gitignore
# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Output folders
/bin/
/build/
/dist/
.env.dev
.env.prod
/logs/app.log

# Dependency directories (vendor)
vendor/

# IDE/editor files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db